{% extends "base.twig" %}
{% block title %}42's DC Homepage{% endblock %}
{% block content %}
<h1 class="central">Home</h1>
You're probably here for the lineage builder, which you can find <a href='lineage-builder'>here</a>. If you're here for my personal DC homepage, then you're already at the right place. :)
{% endblock %}