{% extends "base.twig" %}
{% block title %}42's Toolbox{% endblock %}
{% block content %}
<h1 class="central">Toolbox</h1>
<section id="tools">
    <h2>Toolbox</h2>
    <section id='primary'>
        <p>In addition to being my personal DC homepage, this also acts as a home for various tools I've made for DC.</p>
    </section>
    <section id="lineage-builder">
        <h3><a href="lineage-builder">Lineage Builder</a></h3>
        <p>A lineage building tool.</p>
    </section>
    <section id="auto-refresher">
        <h3><a href='auto-refresher'>Auto-refresher (FART)</a></h3>
        <p>An auto refreshing tool.</p>
    </section>
</section>
{% endblock %}