{% extends "base.twig" %}
{% block title %}42's Toolbox{% endblock %}
{% block content %}
<h1 class="central">Toolbox</h1>
<section id="tools">
    <h2>Toolbox</h2>
    <section id='primary'>
        <p>In addition to being my personal DC homepage, this also acts as a repository for various fun tools I've made for DC.</p>
    </section>
    <section id="lineage-builder">
        <h3><a href="lineage-builder/">Lineage Builder</a></h3>
        <p>A lineage building tool.</p>
        <ul>
            <li>Looks nearly the same as DC! This tool aims to replicate how a lineage is displayed on DC right down to the very last pixel. ;)</li>
            <li>"Fully granular" control over dragons - you can clone and paste entire ancestors, switch parent genders, remove/add ancestors and descendants.</li>
            <li>Automatic code and name generation! You can switch between the code and name, and edit them however you wish.</li>
            <li>Code and name validation - All codes and names are validated to ensure they are legal on DC (but will not be checked for availability.) A game changer for you lyrical lineage builders out there.</li>
            <li>Share a publicly viewable link to built lineages. These lineages will remain available for 2 months since they were last viewed. <a href="lineage-builder/view/b942eb0fa7b0c2b1b261bbb7297dc76ba2b56abc">Example!</a> You can even import them into the editor.</li>
            <li>Export and import lineages - Save a copy of your lineage and import it for later. Really useful for those massive lineages.</li>
            <li>Partial support for time-based sprites and spriter alts (where permission has been granted)</li>
            <li>A super cool breed dropdown when you click a dragon. Trust me, it's seriously super cool.</li>
            <li>Generation counter. Yep, it's there.</li>
            <li>Skin switcher - Switch between the different DragCave skins on the fly, for example the default or portal 2 skins, to preview how your lineage appears on different skins.</li>
        </ul>
    </section>
    <section id="auto-refresher">
        <h3><a href='auto-refresher/'>Auto-refresher (FART)</a></h3>
        <p>Fast Auto Refreshing Tool, aka FART (yes, really!). Fart is an auto-refreshing tool with the following features:</p>
        <ul>
            <li>AR multiple dragons at varying rates through instances per refresh in a control-panel style format.</li>
            <li>Adjust settings even during auto refreshing.</li>
            <li>Control refresh speed.</li>
            <li>A small icon of the dragon you're ARing in the page tab. If you've got multiple dragons it even cycles through them. ;)</li>
            <li>Mobile-friendly.</li>
            <li>Calculate views per minute automatically (this is a bit fuzzy, it heavily depends on your connection, device and dragons).</li>
            <li>Smart removal - Leave FART on in the background and it'll remove dragons as soon as they've hatched or grown up.</li>
        </ul>
    </section>
</section>
{% endblock %}